.like {
    margin-bottom: 250px;
}


.like__title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 55px;
    text-transform: uppercase;
}

.like__item{
    cursor: pointer;
 
}

.like__card {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.like__card::-webkit-scrollbar {
    display: none;
    /* Chrome */
}


@media(max-width:568px){
    .like__title{
        font-size: 30px;
    }
}