.cite-header__top {
    background-color: rgba(0, 0, 0, 1);
    padding: 9px 0 10px 0;

    & .cite-header__top__box {
        display: flex;
        /* justify-content: center; */


        & p {
            color: rgba(255, 255, 255, 1);
            text-align: center;
            margin: 0 auto;
            font-size: 14px;


            & a {
                text-decoration: underline;
                color: white;
                font-weight: 500;

                &:hover {
                    opacity: 0.8;
                }
            }
        }


        & button {
            margin-left: auto;
            background-color: transparent;
            border: none;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.head__top__box {
    display: flex;


    & p {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        margin: 0 auto;
        font-size: 14px;


        & a {
            text-decoration: underline;
            color: white;
            font-weight: 500;

            &:hover {
                opacity: 0.8;
            }
        }
    }


    & button {
        margin-left: auto;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.cite-header__inner {
    padding: 14px 0 10px;
    background-color: #FAFAFAFF !important;



}

.cite-header__inner__box {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.cite-header__sign__box {
    display: flex;
    gap: 20px;


    & a {
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        font-size: 16px;
        padding: 15px 67px;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 62px;

        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.cite-header__burger {
    background-color: transparent;
    border: none;
    margin-right: 20px;
}



.head__inner__box {
    display: flex;
    align-items: center;
    align-items: center;

    justify-content: space-between;
}

.head__inner {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #FAFAFAFF !important;
}

.head__list {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-right: 25px;
    margin-left: 25px;

    & li a {
        font-size: 16px;
        color: black;

        &:hover {
            text-decoration: underline;
            opacity: 0.8;
        }
    }

    & li select {
        font-size: 16px;
        color: black;
        border: transparent;
        cursor: pointer;
        background-color: transparent;

        &:focus {
            border: none;
            outline: none;
        }

        &:hover {
            text-decoration: underline;
            opacity: 0.8;
        }
    }
}

.head__icons {
    display: flex;
    align-items: center;
    gap: 14px;

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }
}


.head__search__box {
    flex: 1;

    display: flex;

    position: relative;

    &::before {
        content: "";
        background-image: url("../../assets/loop.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 15px;
        top: 22%;
    }
}

.head__search {
    width: 90%;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 54px;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 30px;
    border: none;


    &::placeholder {
        color: rgba(0, 0, 0, 0.4);
        font-family: "Poppins", sans-serif;
        font-size: 16px;

    }
}

.head__icons {
    position: relative;
}

.head {
    position: fixed;
    width: 100%;
    z-index: 1000;
    /* top: 0; */
    transition: 0.2s linear;



}

.back {
    transform: translateY(-534px);
}



.head__profile {
    position: absolute;
    background-color: rgb(179, 184, 184);

    top: 132.5px;
    right: calc(50% - 630px);
    border-radius: 0 0 30px 30px;
    width: 400px;
    /* display: flex;
    flex-direction: column; */

    /* align-items: center; */
    padding: 0 0px 15px 0px;
    /* justify-content: center; */
    height: 346.9px;
    z-index: 100;


    & h3 span {
        color: rgb(62, 13, 125);
    }

    & h3 {
        border: 1.5px solid #6c6c6c;
        padding: 10px;
        border-radius: 10px;
    }
}

.without {
    top: 89.9px;
}

.head-profile__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.head__logout {
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    display: inline-block;
    font-size: 17px;
    width: 100%;

    background-color: rgb(216, 57, 57) !important;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    &:hover {
        opacity: 0.7;
    }
}


.head__close {
    background-color: #71a5ca !important;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

    border-radius: 0 0 20px 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;

    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }

}

.head__close__box {
    text-align: right;
    /* margin-top: 22px; */
    margin-bottom: 20px;

}

.head__burger {
    background-color: transparent;
    border: none;
    display: none;


    & img {
        width: 24px;
        height: 24px;
    }
}

.head__search__btn {
    display: none;
}


.head-profile__btn-box {
    margin-right: 10px;
    margin-left: 10px;
}



.head-search__box {


    width: 100%;
    margin-right: auto;

    & input {
        flex: 1;
        width: 70%;
        padding-top: 8px;
        padding-bottom: 7px;
        padding-left: 12px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 30px;
        border: none;


        &::placeholder {
            color: rgba(0, 0, 0, 0.4);
            font-family: "Poppins", sans-serif;
            font-size: 16px;

        }
    }
}

.head__nav-bar {
    width: 200px;
    position: absolute;
    background-color: #6c6c6c;
    left: 0;
    top: 131px;

    height: 300px;

    border-radius: 0 0 10px 10px;
}

.head__closed-box {
    width: 100%;
    margin-bottom: 45px;

    & button {
        padding: 10px;
        border-radius: 0 0 15px 15px;
        border: none;
        color: white;
        background-color: black;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
    }
}

.head__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    & li {
        width: 100%;
        background-color: #71a5ca;
        padding: 5px;

        & select {
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 16px;
            color: rgb(242, 214, 142);
            width: 100%;
        }

        & a {
            color: rgb(242, 214, 142);
            width: 100%;
            display: inline-block;
        }


    }
}

.without-navbar {
    top: 90px;
}

.cite-header {
    position: relative;
}


.cite-header__login-box {
    position: absolute;

    top: 98px;
    z-index: 100000;
    background-color: #000000;
    padding: 10px;
    width: 200px;
    border-radius: 0 0 15px 15px;
}

.cite-header__burger {
    display: none;
}

.cite-header__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & li {
        background-color: #71a5ca;
        padding: 10px;

        & a {
            width: 100%;
            display: inline-block;
            color: black;

        }
    }
}

.without-login {
    top: 55px;
}

.cite-header {
    position: fixed;
    width: 100%;
    z-index: 2112121;
    transition: 0.3s;
}


.head__mode {
    width: 100%;
    margin-top: 20px;
    padding: 6px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }

    background-color: #000000;
}

@media(max-width:810px) {
    .head__list {
        & li {
            & a {
                font-size: 13px;
            }
        }
    }
}

@media(max-width:768px) {
    .head__search {
        &::placeholder {
            font-size: 13px;
        }
    }
}

@media(max-width:730px) {
    .head__top__box {
        & p {
            font-size: 12px;

        }
    }
}


@media(max-width:774px) {
    .head__burger {
        display: inline-block;
        margin-right: 20px;
    }

    .head__logo {
        margin-right: 30px;
    }

    .head__list {
        display: none;
    }
}


@media(max-width:507px) {

    .head__search {
        display: none;


    }

    .head__search__box {
        &::before {
            display: none;
        }
    }

    .head__search__btn {
        display: inline-block;
    }
}


@media(max-width:380px) {
    .head__logo img {
        width: 100%;
        height: 100%;
    }
}


@media(max-width:1260px) {
    .head__profile {
        right: 0;
    }
}


@media(max-width:1024px) {
    .head__profile h3 {
        font-size: 18px;
    }

    .head__logout {
        font-size: 15px;
        color: white;
    }
}

@media(max-width:645px) {


    .head__profile {
        width: 350px;
    }
}

@media(max-width:466px) {
    .head-profile__box {
        & h3 {
            font-size: 16px;

            & span {
                font-size: 15px;
            }
        }
    }

    .head__logout {
        font-size: 14px;
    }

    .head__profile {
        height: 329px;
    }
}

@media(max-width:507px) {
    .head__profile {
        top: 121px;
    }

    .without {
        top: 76px;
    }

    .head__nav-bar {
        top: 119px;
    }

    .without-navbar {
        top: 76px;
    }
}

@media(max-width:429px) {
    .head__profile {
        width: 300px;
    }
}

@media(Max-width:345px) {
    .head__profile {
        width: 100%;
    }
}


@media(max-width:735px) {
    .cite-header__sign__box a {
        font-size: 12px;
    }

    .cite-header__sign__box {
        display: none;
    }

    .cite-header__inner__box {
        justify-content: center;
    }


    .cite-header__burger {
        display: inline-block;
    }

    .cite-header__login-box {
        right: calc(50% - 100px);
    }
}

@media(max-width:442px) {
    .cite-header__login-box {
        top: 114px;
    }

    .without-login {
        top: 55px;
    }
}