.details {
    padding-top: 182px;
    margin-bottom: 80px;
}

.details__main {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
}

.details-left__inner img {
    border-radius: 15px;
}

.details-left__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;


}

.details-left__inner:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: pointer;
}

.details-left__inner:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: pointer;
}

.details-left__inner:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
    cursor: pointer;
}

.details-left__inner:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/4;
    cursor: pointer;


}

.details-left__last-img {
    width: 440px;
    height: auto;
}


.details-right__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-top: 0;
}

.details-right__rating-box {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 15px;

    & p {
        & span {
            color: #ccc;
        }
    }
}

.details-right__price-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;

}

.details-right__price-actual {
    font-weight: 700;
    font-size: 32px;

}

.details-right__price-old {
    font-weight: 700;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
}

.details-right__price-sell {
    font-weight: 500;
    padding: 6px 16px;
    background-color: rgba(255, 51, 51, 0.1);
    border-radius: 30px;

    color: rgba(255, 51, 51, 1);
}


.details-right__info {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
}

.details hr {
    margin-bottom: 24px;
}

.details-right__color-title {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 0;

}

.details-right__color-box {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;

    & input {
        padding: 25px;
    }
}

.details-right__size-title {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    line-height: 0;
}


.details-right__size-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;

    & .active {
        background-color: black;
        color: white;
    }


}

.details-right__size-btn {
    font-size: 16px;
    padding: 12px 24px;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 30px;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.3s;





}



.details-right__buy-box {
    display: flex;
    align-items: center;
    gap: 20px;




}

.details-right__count-box {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 38px;
    justify-content: center;

    background-color: rgba(240, 240, 240, 1);
    padding: 15px 15px 14px 15px;
    border-radius: 30px;

    & span {
        font-weight: 500;
        font-size: 16px;
    }

    & button {
        font-size: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        display: inline-block;
        width: 100%;

        &:hover {
            opacity: 0.7;
        }
    }
}

.details-right__buy-btn {
    width: 75%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    border: none;

    transition: 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}



.details__link-box {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;


}

.details__link-box a {
    font-size: 18px;
    color: black;
    transition: 0.3s;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        opacity: 0.8;
        text-decoration: underline;
    }
}



@media (max-width: 1200px) {
    .details-left__last-img {
        width: 340px;
        height: auto;


    }

    .details-left__inner:nth-child(4) {
        grid-row: 1/4;
    }
}


@media(max-width:1100px) {
    .details-right__buy-box {
        flex-direction: column;

        & div {
            width: 100%;
        }


    }

    .details-right__buy-btn {
        width: 100%;
    }

    .details-right__count-box {
        justify-content: space-between;
    }
}

@media(max-width:1008px) {
    .details-right__size-btn {
        font-size: 13px;
    }
}

@media(max-width:976px) {
    .details-right__size-box {
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
}

@media(max-width:900px) {
    .details-right__info {
        font-size: 14px;
    }

    .details__main {
        flex-direction: column;
    }

    .details-left__inner:nth-child(4) {
        grid-column: 1/4;
    }

    .details-left__inner:nth-child(1) {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .details-left__inner:nth-child(2) {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .details-left__inner:nth-child(3) {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    .details__left {
        text-align: center;
        margin: 0 auto;
    }
}

@media(max-width:541px) {
    .details-left__img {
        width: 112px;
        height: 106px;
    }

    .details-left__last-img {
        width: 300px;
        height: auto;
    }
}

@media(max-width:440px) {
    .details-right__title {
        font-size: 27px;
    }

    .details-right__price-actual {
        font-size: 24px;
    }

    .details-right__price-old {
        font-size: 24px;
    }

    .details-right__price-sell {
        font-size: 14px;
    }


    .details-left__inner:nth-child(3) {
        grid-column: 1/2;
        grid-row: 5/6;
    }

}


@media(max-width:550px) {
    .details__link-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:400px) {
    .details__link-box a {
        font-size: 16px;
    }
}