.raiting__tabs-box {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}


.raiting{
    margin-bottom: 64px;
    
   
    
}
.raiting__tabs {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    transition: 0.3s;
    /* margin-bottom: 24px; */
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;

    &:hover {
        opacity: 0.7;
        border-bottom: 1px solid black;
    }

}

.raiting__filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.raiting-filter__inner-box {
    display: flex;
    gap: 8px;

    align-items: center;
}

.raiting__title {
    font-size: 24px;
    font-weight: 700;
}

.raiting__count {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;

}

.raiting__filters {
    display: flex;
    gap: 10px;

    & select {
        font-size: 16px;
        font-weight: 500;
        padding: 13px 57px 13px 20px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 30px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        position: relative;




        &:hover {
            opacity: 0.7;
        }
    }

    & button:nth-child(3) {
        font-size: 16px;
        font-weight: 500;
        padding: 13px 29px;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 30px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        color: white;

        &:hover {
            opacity: 0.7;
        }
    }

}

.raiting__filter-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(240, 240, 240, 1);

    &:hover {
        opacity: 0.7;
    }
}

.raiting__card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 36px;


}

.raiting__item {
    width: 48%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 32px;
    overflow: visible;
}

.raiting__comment-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    position: relative;
}

.raititng__more-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.raiting__title {
    font-size: 20px;
    font-weight: 700;
}

.raiting__status-box {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 16px;
}

.raiting__info {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
}

.raiting__date {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.raiting__view {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 45px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.6;
    }

}

.raiting__view-box {
    text-align: center;
}


.raiting-modal__title {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}

.raiting-modal__form {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.raiting-modal__star {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 18px;
}

.raiting-modal__comment {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 18px;
}

.raiting-modal__submit {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
        opacity: 0.7;
    }
}

.raiting__info {
    max-width: 400px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}




.filter-modal__box {
    text-align: center;
    padding-top: 20px;

    & select {
        width: 100%;
        text-align: center;
        padding: 10px;
        border: none;
        font-weight: 700;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: lightcyan;
        border-radius: 20px;
    }
}

.filter-modal__submit {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}


.raiting-more__box {
    position: absolute;
    width: 120px;
    right: 0;
    top: 100%;
    margin-top: 8px;
    z-index: 10;

    & ul {
        padding: 10px;
        background-color: black;


        & li {
            width: 100%;
            transition: 0.3s;

            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

            & button {
                width: 100%;
                background-color: #ccc;
                padding: 5px;
                cursor: pointer;
                border: 1.5px solid black;
                font-weight: 700;
            }
        }
    }
}

.full {
    -webkit-line-clamp: unset;
    overflow: visible;

}

.raiting__item {
    position: relative;
    overflow: visible;
}

.raiting__info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.raiting__info.full {
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
}

.raiting-more__box {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 8px;
    z-index: 10;
}

.star-rating {
  display: flex;
  gap: 6px;
}

.star-wrapper {
  position: relative;
  width: 28px;
  height: 28px;
  font-size: 28px;
  cursor: pointer;
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: 0.2s;
}

.star.full {
  clip-path: inset(0 0 0 50%);
}

.star.half {
  clip-path: inset(0 50% 0 0);
}

.star.active {
  color: gold;
}

.comment-stars {
  display: flex;
  gap: 6px;
}

.star-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
}

.star.full {
  clip-path: inset(0 0 0 50%);
}

.star.half {
  clip-path: inset(0 50% 0 0);
}

.star.active {
  color: gold;
}



@media(max-width:560px) {
    .raiting__filter-box {
        flex-direction: column;
        gap: 20px;
    }

    .raiting__filters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & button {
            width: 100%;

            &:nth-child(1) {
                border-radius: 30px;
            }
        }
    }

    .raiting__filter-sel {
        width: 100%;
        text-align: center;
    }

    .raiting__view-box {
        width: 100%;

        & button {
            width: 100%;
        }
    }
}


@media(max-width:475px) {
    .raiting__tabs {
        font-size: 14px;
    }
}

@media(max-width:795px) {
    .raiting__name {
        font-size: 16px;
        line-height: 20px;
    }
}

@media(max-width:700px) {
    .raiting__info {
        font-size: 14px;

    }

    .raiting__data {
        font-size: 10px;
        color: #ccc;
    }
}


@media(max-width:540px) {
    .raiting__card {
        & li {
            width: 100%;



        }
    }
}


@media(max-width:445px) {
    .raiting__tabs-box {
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width:578px) {
    .raiting__tabs {
        font-size: 16px;
    }
}